REDIS_URL=redis://redis:6379
MQTT_HOST=mqtt
MQTT_PORT=1883
SIGNAL_CYCLE_DEFAULT_EW=30
SIGNAL_CYCLE_DEFAULT_NS=25
WEBSTER_RECALC_INTERVAL=10
EMERGENCY_CORRIDOR_LENGTH=5
EMERGENCY_CORRIDOR_DISTANCE=800
CV_CONFIDENCE_THRESHOLD=0.65
FAILSAFE_FIXED_TIMER_EW=30
FAILSAFE_FIXED_TIMER_NS=25
JWT_SECRET=urbanmind-dev-secret
DEBUG=true
DEMO_MODE=true
